.banner{
    background-image: url("../../images/1ba57d691538a7ad73017280b88c5cf8.jpg");
    height: 300px;
    width: 100%;
    color: white;
    background-size: 1600px;
}

.banner h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.banner h4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

@media (max-width:950px){
    .banner h2 {
        margin: 5px;
    }
}